body {
    background-color: beige;
    font-family: monospace;
}

table {
    width: 650px;
    border: 2px solid crimson;
    border-collapse: collapse;
    margin: 0 auto;
}

thead {
    background-color: coral;
}

td {
    border-top: 1px solid lightsalmon;
    text-align: justify;
}

h1 {
    color: rgb(178, 17, 194);
    text-align: center;
}

h2 {
    color: rgb(182, 17, 182);
    text-align: center;
}

.code {
    background-color: gainsboro;
    opacity: 0.9;
    font-family: monospace;
}